

body {
    cursor:crosshair;
    border-style: solid;
    border-color:rgb(22, 145, 145);
    border-width: 100px;
    background-color: rgb(22, 145, 145);
    color: black;
    }

.blue-text {
        color: black;
    }
h1 {text-align: center;
    color: red;
    font-family: monospace;
    font-size: 100px;
    }

h2 {    
    font-family: courier;
    text-align: center;
    font-size: 50px;
    }
    
p {
        font-size: 16px;
        font-family: Times New Roman;
    }
    
.thick-yellow-border {
        border-color: gold;
        border-width: 10px;
        border-style: solid;
        border-radius: 50%;
    }
    
.medium-image {
        width: 300px;
      }
    