

body {
    cursor:crosshair;
    border-style: solid;
    border-color:rgb(242, 245, 245);
    border-width: 100px;
    background-color: rgb(2, 7, 78);
    color: rgb(238, 237, 237);
    }

.blue-text {
        color: black;
    }
h1 {text-align: center;
    color: rgb(173, 169, 169);
    font-family: monospace;
    font-size: 100px;
    }

h2 {    
    font-family: courier;
    text-align: center;
    font-size: 50px;
    }
    
p {
        font-size: 16px;
        font-family: Times New Roman;
    }
    
.thick-yellow-border {
        border-color: rgb(104, 103, 99);
        border-width: 10px;
        border-style: solid;
        border-radius: 50%;
    }
    
.medium-image {
        width: 300px;
      }
    